* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 32px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  } 
}